<div id="container">
  <div class="involved">
    <h2>ABOUT US</h2>
    <p>
      <a href="http://streetlabs.org"><span class="street">s<span class="street">treet</span></span><span class="labs">labs</span></a>
      started with a routine upgrade to the 
      <a href="http://streetprint.org"><span class="street">s<span class="street">treet</span></span><span class="labs">print</span></a>
      website. Gary started talking to Mark about what it means to be OPEN. It was decided that instead of just patching bugs and 
      giving the community an update to the aging codebase it was time for something new. Not new code, a new platform.
    <p>
      A couple of years ago being OPEN Source was good enough. We were able to share our work with colleagues and leverage the
      work of the community to bring projects like 
      <a href="http://streetprint.org"><span class="street">s<span class="street">treet</span></span><span class="labs">print</span></a>
      to them.
    </p>
    <p>
      But how OPEN is that? Haven't we learned from Twitter and Facebook that OPEN <i>really</i> means that anyone can get involved. 
      Anyone, without any technical knowledge, should be able to contribute.
    </p>
    <p>
      That is why we started 
      <a href="http://streetlabs.org"><span class="street">s<span class="street">treet</span></span><span class="labs">labs</span></a>. 
      We are creating powerful hosted, platforms that allow us all to focus on our real goals and not Computing Science.
    </p>
  </div>
</div>