<div id="container">
  <div class="involved">
    <h2>GET INVOLVED</h2>
    <p>
      <i>EVERYONE IS WELCOME TO GET INVOLVED.</i>
    </p>
    <h3>
      COMMUNITY MEMBERS:
    </h3>
    <p>
      <a href="http://streetprint.org"><span class="street">s<span class="street">treet</span></span><span class="labs">print</span></a>
      will be out of BETA soon. Don't let that silly little word should discourage you from building your own site. We have a few bugs
      to squash but in earnest we are done.
    </p>
    <p>
      Once we reach critical mass we will even allow site to go public with peer approval.
    </p>
    <h3>SOFTWARE DEVELOPERS:</h3>
    <p>
      If you know a guy by the name of Matz and aren't afraid of TextMate we can use help on our projects. We are hard at work
      on <a href="http://streetprint.org"><span class="street">s<span class="street">treet</span></span><span class="labs">print</span></a>
      and other platforms so there are lots of ways to lend a hand.
    </p>
    <p>
      To get started <a href="http://github.com/crcstudio/">Fork us on GitHub</a> and submit patches.
    </p>
    <h3>ARTISTS:</h3>
    <p>
      We are looking for new themes. 
      <a href="http://streetprint.org"><span class="street">s<span class="street">treet</span></span><span class="labs">print</span></a>
      uses the Liquid template system so it can be fully customized!
    </p>
    <p>
      We will be having a theme competition soon with some great prizes. Start thinking now. Full details will be posted at  
      <a href="http://streetprint.org">streetprint.org</a> when the contest starts.
    </p>
  </div>
</div>