<div id="container">
  <div class="team">
  
    <h2>OUR TEAM</h2>
    <h3><span class="street">G<span class="street">ARY</span></span> <span class="labs">KELLY</span></h3>  
    <p>
      Gary is the visionary behind STREET<i>LABS</i>.
    </p>
    <p>
      <i>&quot;OPEN is not about source code. It is about making all of this work available to everyone.&quot;</i>
    </p>
    <h3><span class="street">M<span class="street">ARK</span></span> <span class="labs">MADSEN</span></h3> 
    <p>
      Mark is a software consultant and developer.
    </p>
    <p>
      <i>&quot;We are trying to put the HUMANITY back into Humanities Computing.&quot;</i>
    </p>
    <h3><span class="street">D<span class="street">AVID</span></span> <span class="labs">BUCHANAN</span></h3> 
    <p>
      David lends us his patience and his projects as we try to develop new platforms and tools.
    </p
    <p>
      <i>&quot;This all needs to be simple. Or no one is going to use it. Not even me.&quot;</i>
    </p>
    <h3><span class="street">C<span class="street">ODY</span></span> <span class="labs">RAYMENT</span></h3> 
    <p>
      Cody is a software developer who worked on the STREET<i>PRINT</i> platform. 
      He is working on another project right now but still answers help requests.
    </p
    <p>
      <i>&quot;The power is in the platform. If we add a feature or fix a bug everyone gets that feature or that fix.&quot;</i>
    </p>
  </div>
</div>