<div id="footer">
  <div id="inner_footer">
    <div class="gary">
      <p>STREET<i>LABS</i> is another adventure in Humanities Computing from the mind of Gary Kelly.</p>
      &copy; 2010 STREET<i>LABS</i>. All rights reserved.<br />
  	</div>
  </div>
</div>